APP_NAME=MindNest
APP_PORT=8080

# DB
DATABASE_URL=jdbc:postgresql://postgres_db:5432/app_db
DATABASE_USERNAME=root
DATABASE_PASSWORD=root



# Jwt
JWT_SECRET=8BMpsJFJLIHbzET2_8W_HyZ2lTvAOj53C5PpJRG9s4U
JWT_ACCESS_EXPIRATION=300000
JWT_REFRESH_EXPIRATION=1209600000
# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=


